
<nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <div class="container">
        <p class="navbar-brand" href="#"><b>WELCOME TO MY COVID-19 WEBAPP</b></p>
        <ul>
        <a class="navbar-brand" href="/find">HOME</a>
        <a class="navbar-brand" href="/about">ABOUT ME</a>
        </ul>
      </div>
  </nav>
