
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%- include('./partials/boots') %>
<%- include('./partials/Navbar') %>

<center>

    

<img  src="http://campusrecruitsystem.000webhostapp.com/images/shrikant.jpg" class="img-fluid" alt="Responsive image" width="400" height="500">

<div class="card">
    <div class="card-body">
<p class="card-text">Myself <b>Shrikant Padhy</b><br>Hey there folks,this is covid19 web tracker made by me <br>it tracks the covid19 data of every infected countries and states of India and gives updated data daily.</p>

<a class="btn btn-primary" href="https://github.com/shrikantpadhy18"><i class="fa fa-github" aria-hidden="true"></i></a>
<a class="btn btn-primary" href="https://www.linkedin.com/in/shrikant-padhy-9b937317b/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
<br>
<a href="http://shr-kant-info.herokuapp.com/">Here Is My PortFolio</a>
</div>
</div>
</center>


<%-include('./footer')  %>