<%- include('./partials/boots') %>
<%- include('./partials/Navbar') %>


<br>

<form method="POST" action="/find" >
    <div class="form-row">
        <div class="col">
          <input type="text" id="countryname" name="countryname"  class="form-control" placeholder="Enter The Country">
        </div>
        
        <div class="col">
            <input type="submit" value="Search" class="btn btn-primary mb-2">     
        </div>
    </div>
    
</form>

  
  
  <!-- Search -->